*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Gradle files
.gradle/
/build/
**/build/

# Local configuration file (sdk path, etc)
local.properties

# Log files
*.log

# Android Studio files
.idea/
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/gradle.xml
.idea/encodings.xml
.idea/misc.xml
.idea/vcs.xml
.idea/dictionaries
.idea/httpRequests
.idea/inspectionProfiles
.idea/markdown-navigator.xml
.idea
